@using BaseProject.Domain.Models.Dtos.Product;
@using Kendo.Mvc.UI

@model AddProductDTO
@{
}

<div class="tab-content">
    <div class="tab-pane show active mt-3 mx-3" id="form-row-preview">
        <a asp-controller="Products" asp-action="Index" type="button" class="btn btn-success uil-angle-left mb-3">Ürün Listesi</a>

        <form asp-action="Add" asp-controller="Products" method="post">
            <br />
            <div class="row g-2">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Ürün Adı</label>
                    <input asp-for="@Model.Name" type="text" class="form-control" />
                </div>
            </div>
            <div class="row g-2">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Ürün Tipi</label>
                    <input asp-for="@Model.Type" type="text" class="form-control" />
                </div>
            </div>
            <div class="row g-2">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Stok Adedi</label>
                    <input asp-for="@Model.Stock" type="number" class="form-control" />
                </div>
            </div>
            <div class="row g-2">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Birim Fiyatı</label>
                    <input asp-for="@Model.Price" value="lütfen nokta yerine virgül kullanınız" type="text" class="form-control" />
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <button type="submit" class="btn btn-success">Ekle</button>
        </form>
        
    </div> <!-- end preview-->
</div> <!-- end tab-content-->
